.recipePage,
.toolsPage,
.ingredientsPage {
    background-color: $beige;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.recipeCard,
.toolCard,
.ingredientCard {
    width: 33%;
    margin: 99px 0 20px;
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.recipeCard-ImageSection,
.toolCard-ImageSection,
.ingredientCard-ImageSection {
    position: absolute;
    top: -178px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipeCard-ImageContainer,
.toolCard-ImageContainer,
.ingredientCard-ImageContainer {
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    width: 178px;
    height: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipeCard-TextContainer,
.toolCard-TextContainer,
.ingredientCard-TextContainer  {
    width: 100%;
    height: 100%;
    padding: 84px 20px 20px 20px;
    padding: 0 20px 20px 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.recipeCard {
    border: 2px solid $orange;
    border-top: 100px solid #F67053;
}
.toolCard {
    border: 2px solid $navy;
    border-top: 100px solid $navy;
}
.ingredientCard {
    border: 2px solid $pink;
    border-top: 100px solid $pink;
}

.recipeCard-ImageContainer {
    border: 4px solid $orange;
}
.toolCard-ImageContainer {
    border: 4px solid $navy;
}
.ingredientCard-ImageContainer {
    border: 4px solid $pink;
}

