// palet
$teal: #38C2A5;
$beige: #F4DFAF;
$brown: #5E301A;
$navy: #284423;
$orange: #F67053;
$pink: #f9aeeb;
$flamingo: rgb(248, 109, 246);
$lime: rgb(186, 244, 159);
$sky: rgb(164, 247, 255);
$coral: rgb(255, 143, 143);;

// fonts
$sansSerif: 'Rubik', sans-serif;
$serif: 'Old Standard TT', serif;