html {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $sansSerif;
    color: $navy;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
nav {

    a:hover {
        color: $teal;
        text-shadow: 1px 1px 0 $beige;
    }
}
.leftFloat {
    float: left;
}
.rightFloat {
    float: right;
}
.largeImage{
    margin-top: 25px;
    height: 234px;
}
.mediumImage {
    height: 113px;
}
.smallerImage {
    height: 90px;
}
.dottedBackground {
        background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}
main {
    margin: 20px auto!important;
    // border: 3px solid $orange;
    height: 76vh;
    overflow-y: scroll;
}
.indexText {
    width: 73%;
}
