html {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $sansSerif;
    color: $navy;
    line-height: 1.35;
}
body{
    height: 100vh;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
nav {
    a:hover {
        color: $teal;
        text-shadow: 1px 1px 0 $beige;
    }
}
.largeImage{
    margin-top: 25px;
    height: 234px;
}
.mediumImage {
    height: 113px;
}
.smallerImage {
    height: 90px;
}
.dottedBackground {
        background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
main {
    margin: 10px auto!important;
    height: 87vh;
    overflow-y: scroll;
}
.indexText {
    margin: 10px 0 0 0;
    display: flex;
    padding: 21px 89px 21px 48px;
    border-radius: 0 11px;
}
#index {
    width: 100vw;
    background-color:$coral;
    color: white;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    h2 {
        font-size: 50px;
        margin-bottom: 0px;
        text-shadow: 2px 2px $orange;
    }
    span {
        font-style: italic;
        font-weight: lighter;
    }
    #catchPhrase {
        font-size: 20px;
    }
}

footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    color: $flamingo;
}
