
header {
    width: 100vw;
    background-color: white;
    margin-top: 5px;
    div,
    .logo,
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        margin-bottom: 0;
        margin-top: 8px;
        font-family: $serif;
        font-size: 28px;
    }
    img {
        height: 50px;
    }
    ul {
        list-style: none;
        li {
            margin: 0 25px;
        }
    }
}

// nav bar icons
.home,
.recipes,
.tools,
.ingredients {
    position: relative;
}
//image size from Original 8%
.home:hover::before,
.home.currentLink::before  {
    content: url("./cocktailImages/svg/002-bloody mary-sm.svg");
    position: absolute;
    left: 41px;
    bottom: -10px;
}

.recipes:hover::before,
.recipes.currentLink::before {
    content: url("./cocktailImages/svg/047-caipirinha-sm.svg");
    position: absolute;
    left: 58px;
    bottom: -10px;
}
.ingredients:hover::before,
.ingredients.currentLink::before {
    content: url("./cocktailImages/svg/022-martini-sm.svg");
    position: absolute;
    left: 79px;
    bottom: -10px;
}
.tools:hover::before,
.tools.currentLink::before {
    content: url("./cocktailImages/svg/050-bramble-sm.svg");
    position: absolute;
    left: 41px;
    bottom: -10px;
}
