.ingredientsPage {
    background-color: $sky;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.ingredientCard {
    width: 33%;
    margin: 99px 0 20px;
    background-color: white;
    border: 2px solid $pink;
    border-top: 100px solid $pink;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.ingredientCard-ImageSection {
    position: absolute;
    top: -178px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ingredientCard-ImageContainer {
    border-radius: 50%;
    border: 4px solid $pink;
    background-color: white;
    padding: 10px;
    width: 178px;
    height: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredientCard-TextContainer {
    width: 100%;
    padding: 84px 20px 20px 20px;
    padding: 0 20px 20px 20px;
    background-color: white;
    display: flex;
    justify-content: start;
    flex-direction: column;
}