@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&family=Rubik:ital,wght@0,300;0,500;1,300;1,500&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Rubik", sans-serif;
  color: #232344;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  color: #38C2A5;
  text-shadow: 1px 1px 0 #F4DFAF;
}

.largeImage {
  margin-top: 25px;
  height: 234px;
}

.mediumImage {
  height: 113px;
}

.smallerImage {
  height: 90px;
}

.dottedBackground {
  background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

main {
  margin: 10px auto !important;
  height: 76vh;
  overflow-y: scroll;
}

.indexText {
  width: 73%;
  background-color: beige;
  padding: 21px 89px 21px 48px;
  border-radius: 0 11px;
}

#index .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  width: 100vw;
  background-color: white;
  margin-top: 5px;
}

header div,
header .logo,
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  margin-bottom: 0;
  margin-top: 8px;
  font-family: "Old Standard TT", serif;
  font-size: 28px;
}

header img {
  height: 50px;
}

header ul {
  list-style: none;
}

header ul li {
  margin: 0 25px;
}

.home,
.recipes,
.tools,
.ingredients {
  position: relative;
}

.home:hover::before,
.home.currentLink::before {
  content: url("./cocktailImages/svg/002-bloody mary-sm.svg");
  position: absolute;
  left: 41px;
  bottom: -10px;
}

.recipes:hover::before,
.recipes.currentLink::before {
  content: url("./cocktailImages/svg/047-caipirinha-sm.svg");
  position: absolute;
  left: 58px;
  bottom: -10px;
}

.ingredients:hover::before,
.ingredients.currentLink::before {
  content: url("./cocktailImages/svg/022-martini-sm.svg");
  position: absolute;
  left: 79px;
  bottom: -10px;
}

.tools:hover::before,
.tools.currentLink::before {
  content: url("./cocktailImages/svg/050-bramble-sm.svg");
  position: absolute;
  left: 41px;
  bottom: -10px;
}

.recipePage,
.toolsPage,
.ingredientsPage {
  background-color: #F4DFAF;
}

.recipePage .wrapper,
.toolsPage .wrapper,
.ingredientsPage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipeCard,
.toolCard,
.ingredientCard {
  width: 33%;
  margin: 99px 0 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipeCard-ImageSection,
.toolCard-ImageSection,
.ingredientCard-ImageSection {
  position: absolute;
  top: -178px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipeCard-ImageContainer,
.toolCard-ImageContainer,
.ingredientCard-ImageContainer {
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  width: 178px;
  height: 178px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipeCard-TextContainer,
.toolCard-TextContainer,
.ingredientCard-TextContainer {
  width: 100%;
  height: 100%;
  padding: 84px 20px 20px 20px;
  padding: 0 20px 20px 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recipeCard {
  border: 2px solid #F67053;
  border-top: 100px solid #F67053;
}

.toolCard {
  border: 2px solid #232344;
  border-top: 100px solid #232344;
}

.ingredientCard {
  border: 2px solid #E8605D;
  border-top: 100px solid #E8605D;
}

.recipeCard-ImageContainer {
  border: 4px solid #F67053;
}

.toolCard-ImageContainer {
  border: 4px solid #232344;
}

.ingredientCard-ImageContainer {
  border: 4px solid #E8605D;
}

.recipePage {
  background-color: #F4DFAF;
}

.recipePage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipeCard {
  width: 33%;
  margin: 99px 0 20px;
  background-color: white;
  border: 2px solid #F67053;
  border-top: 100px solid #F67053;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipeCard-ImageSection {
  position: absolute;
  top: -178px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipeCard-ImageContainer {
  border-radius: 50%;
  border: 4px solid #F67053;
  background-color: white;
  padding: 10px;
  width: 178px;
  height: 178px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipeCard-TextContainer {
  width: 100%;
  height: 100%;
  padding: 84px 20px 20px 20px;
  padding: 0 20px 20px 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1040px) {
  .wrapper {
    margin: 0 29px;
  }
}

@media screen and (max-width: 1007px) {
  header .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul {
    padding-left: 0;
  }
  nav li {
    margin: 0 25px;
  }
  nav .home {
    margin-left: 0;
  }
  nav .tools {
    margin-right: 0;
  }
  main {
    padding: 10px;
  }
}

@media screen and (max-width: 670px) {
  header {
    margin-top: 0px;
  }
  header h1 {
    margin-top: 42px;
  }
  header img {
    height: 73px;
  }
  main {
    margin: 0 !important;
  }
  .recipeCard,
  .toolCard,
  .ingredientCard {
    width: 100%;
  }
}
